@font-face {
    font-family: gilroy;
    src: url(./fon/Gilroy-ExtraBold.ttf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'gilroy';
    background-color: #121212;
    color: #ffff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position: absolute;
    top:7%;
    left: 10%;
}

nav h1{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

nav .lft{
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

nav .lft a{
    padding: 5px 30px ;
    font-size: 20px;
    text-decoration: none;
    color:#ffff;
    border: 1.5px solid #ffff;
    border-radius: 100px; 
}


#hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1{
    font-size: 10vw;
    line-height: 9vw;
    text-transform: uppercase;
}

